.Leader {
  stroke-width: 0.5 !important;
  stroke: #53605c;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #fbefd0;
  fill: #fbefd0;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #53605c !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #fbefd0 !important;
  fill: #53605c !important;
}
